@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

}
.button{
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  transition: all .5s ease;
}
.button:focus{
  transform: scale(0.98);
}
.loading{
  text-align: center;
  padding: 15px;
  color: white;
}